<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <listener>
        <listener-class>CountUserHttpSessionListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <init-param>
        <param-name>driver</param-name>
        <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
    </init-param>

    <context-param>
        <param-name>username</param-name>
        <param-value>system</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>oracle</param-value>
    </context-param>

    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>com.zero4kevin.ServletTour.ServletFilter.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <url-pattern>/servletFilter</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletFilter</servlet-name>
        <servlet-class>com.zero4kevin.ServletTour.ServletFilter.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFilter</servlet-name>
        <url-pattern>/servletFilter</url-pattern>
    </servlet-mapping>





    <servlet>
        <servlet-name>ServletTour</servlet-name>
        <servlet-class>ServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRedirect</servlet-name>
        <servlet-class>SendRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>DemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>DemoServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2</servlet-name>
        <servlet-class>DemoServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookie1</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookie2</servlet-name>
        <servlet-class>SecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHidden1</servlet-name>
        <servlet-class>ServletHidden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHidden2</servlet-name>
        <servlet-class>ServletHidden2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpSession</servlet-name>
        <servlet-class>FirstHttpSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpSession2</servlet-name>
        <servlet-class>SecondHttpSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHttpSession</servlet-name>
        <servlet-class>LoginHttpSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutHttpSession</servlet-name>
        <servlet-class>LogoutHttpSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileHttpSession</servlet-name>
        <servlet-class>ProfileHttpSession</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ServletTour</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRedirect</servlet-name>
        <url-pattern>/sendRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/demoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookie1</servlet-name>
        <url-pattern>/cookie1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookie2</servlet-name>
        <url-pattern>/cookie2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHidden1</servlet-name>
        <url-pattern>/servletHidden1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHidden2</servlet-name>
        <url-pattern>/servletHidden2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpSession</servlet-name>
        <url-pattern>/httpSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpSession2</servlet-name>
        <url-pattern>/httpSession2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHttpSession</servlet-name>
        <url-pattern>/loginHttpSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutHttpSession</servlet-name>
        <url-pattern>/logoutHttpSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileHttpSession</servlet-name>
        <url-pattern>/profileHttpSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HttpSessionEventFirst</servlet-name>
        <servlet-class>HttpSessionEventFirst</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSessionEventFirst</servlet-name>
        <url-pattern>/httpSessionEventServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpSessionEventLogout</servlet-name>
        <servlet-class>HttpSessionEventLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSessionEventLogout</servlet-name>
        <url-pattern>/logoutHttpSessionEvent</url-pattern>
    </servlet-mapping>



</web-app>
